.header-container {
    background-color: #9445FF;
    display: flex;
    font-family: $headerFont;
    justify-content: flex-start;
    padding: 20px;
    margin-bottom: 25px;
}

.new-note-btn {
    text-decoration: none;
    position: absolute;
    top: 14px;
    right: 30px;
}