.page-not-found {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.not-found {
  font-size: 200px;
  font-weight: 600;
}

.link {
  text-decoration: none;
  color: #000;
  &:hover {
    color: #838282;
  }
}